name: Lint PR Title

on:
  pull_request:
    types: [opened, edited, synchronize, reopened]

permissions:
  pull-requests: read

jobs:
  lint:
    runs-on: self-hosted
    steps:
      - name: Validate PR title
        uses: amannn/action-semantic-pull-request@v5
        with:
          requireScope: false
          types: |
            feat
            fix
            docs
            style
            refactor
            test
            chore
            perf
            ci
            build
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT }}
